<h2>Login</h2>
<div class="row border border-dark rounded-lg p-3">
    <form class="w-100" id="loginForm">
        <div class="form-group">
            <label for="userNameInput">Username</label>
            <input type="text" class="form-control" id="userNameInput">
        </div>
        <div class="form-group">
            <label for="userPasswordInput">Password</label>
            <input type="password" class="form-control" id="userPasswordInput">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="ml-2" href="/sign_up">New around here? Sign up here.</a>
    </form>
</div>


<script src="/javascript/login.js"></script>