<h2>Sign up</h2>
<div class="row border border-dark rounded-lg p-3">
    <form class="w-100">
        <div class="form-group">
            <label for="newUserNameInput">Email address</label>
            <input type="text" class="form-control" id="newUserNameInput">
        </div>
        <div class="form-group">
            <label for="newUserPasswordInput">Password</label>
            <input type="password" class="form-control" id="newUserPasswordInput">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="ml-2" href="/login">Allready have an account? Log in</a>
    </form>
</div>